@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url('fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 200;
  src: url('fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url('fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 900;
  src: url('fonts/Proxima\ Nova\ Extrabold.otf');
}

/*Estilos generales*/

body {
  background: rgb(185,77,142);
  background: linear-gradient(90deg, rgba(185,77,142,1) 0%, rgba(146,96,171,1) 100%);
  margin: 0;
}

.main-container {
  background-color: white;
  margin: 75px 150px 0 150px;
  border-radius: 20px 20px 0 0;
  height: 800px;
  box-shadow: 0px 0px 10px 10px #02020221;
}

/*Estilos generales header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  margin-bottom: 10px;
  padding: 0;
}

.logo {
  margin: 10px 0 0 80px;
  width: 15%;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0px 80px 0 0;
  padding: 0;
}

.location-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 15px;
}

.location-wrapper {
  display: flex;
  align-items: center;
}

.icon-location {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.label-location {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 12px;
  color: rgb(189, 196, 207);
  min-width: 75px;
}

.input-location {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 12px;
  color: #3a3b55;
  border-style: none;
  box-sizing: border-box;
  padding: 0 5px;
  text-align: start;
  width: 220px;
}

.input-foodtype {
  border-radius: 6px;
  border: 1px solid rgb(189, 196, 207);
  box-sizing: border-box;
  color: rgb(189, 196, 207);
  font-family: 'Proxima Nova';
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}

/*NO FUNCIONA! :( */
.input-foodtype::placeholder {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 12px;
  color: rgb(189, 196, 207);
  
}

.img-thumbnail-container {
  display: inline-block;
  position: relative;
  width: 58px;
  box-sizing: border-box;
  margin: 5px 5px 0 15px;
}

.header-thumbnail {
  width: 100%;
}

.img-1 {
  position: absolute;
  top: 0px;
}

.img-2 {
  position: absolute;
  top: 10px;
}

.img-3 {
  position: absolute;
  top: 20px;
}

.order-summary {
  width: 200px;
  box-shadow: 0px 0px 10px 2px #47474721;
  font-size: 10px;
  margin: 0 0 0 15px;
  height: 15vh;
  border-radius: 0 0 6px 6px;
  font-family: 'Proxima Nova';
  font-weight: 400; 
}

.order-summary-card {
  background-color: #3a3b55;
  color: rgb(189, 196, 207);
  display: flex;  
  font-family: 'Proxima Nova';
  font-weight: 400;
  justify-content: space-between;
  padding: 8px 10px;
  
}

.nr-dishes {
  text-decoration: underline dashed;
}

.total {
  font-size: 12px;
}


.order-button {
  background: rgb(231,56,108);
  background: linear-gradient(270deg, rgba(231,56,108,1) 0%, rgba(146,96,171,1) 100%);
  border-style: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: white; 
  font-size: 12px;
  font-weight: normal; 
  letter-spacing: 1pt;
  margin: 13px 10px 10px 10px;
  padding: 8px;
  width: 90%;
}